<?xml version="1.0"?>
<configuration>

	<connectionStrings>

		<add name="fashion" connectionString="Data Source=DESKTOP-LT4KMIA;Initial Catalog=fashion;Integrated Security=True"
		 providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <system.web>
	  <compilation debug="false" targetFramework="4.0" />
  </system.web>
</configuration>

<!--string fileName = file_photo.FileName;
file_photo.PostedFile.SaveAs(Server.MapPath("sql_img/" + fileName));
string Image = "sql_img/" + fileName.ToString();-->


<!--if (string.IsNullOrEmpty(latestDressCode))
{

newDressCode = selectedDressType.Substring(0, 2) + "-1";
}
else
{

string[] parts = latestDressCode.Split('-');
int numericPart;
if (parts.Length == 2 && int.TryParse(parts[1], out numericPart))
{

newDressCode = selectedDressType.Substring(0, 2) + "-" + (numericPart + 1);
}
else
{

newDressCode = selectedDressType.Substring(0, 2) + "-1";
}
}-->
